@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pink-grad {
  background-size: 240%;
  background-image: linear-gradient(50deg, #ff6bb599 0%, #ff6bb551 100%);
  animation: bg-despl 12s infinite 0s;
}

@keyframes bg-despl {
  0%,
  100% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
}
